@{

    ViewData["Title"] = "The list of the Weekly Culinary tasting";
}


<table class="bg-light">
    <thead>
        <tr>
            <th>Montag</th>
            <th>/</th>
            <th>Dienstag</th>
            <th>/</th>
            <th>Mittwoch</th>
            <th>/</th>
            <th>Donnerstag</th>
            <th>/</th>
            <th>Freitag</th>
        </tr>
    
    
    </thead>
    <tbody>
        <td> Brötchen mit Bratwurst</td>
         <th>/</th>
        <td> Mousaka</td>
         <th>/</th>
        <td> Grillteller</td>
         <th>/</th>
        <td> Nudeln mit Soße</td>
         <th>/</th>
        <td> Heute bleibt die küche kalt</td>

    </tbody>
    <tbody>

        <td> Brötchen mit Bratwurst</td>
    </tbody>
</table>
