@{
    ViewData["Title"] = "Uni Eat the world of Uniflex Culinary tasting";
}

<div class="text-center">
    <h1 id="nagh">Welcome to Uni Eat</h1>
    <p id="nagh">Hier kannst du Essen bestellen</p>
</div>
