@model List<DishesDbModel>
@{
}


    
<table id="CreateMenuList" class="table table-bordered table-hover">
    <thead class="text-info">
        <tr>
            <th></th>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mitwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>



        </tr>
        <tr>
            <td>B</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>


        </tr>
        <tr>
            <td>C</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>

        </tr>
        <tr>

            <td>Suppe</td>
            <td>Placeholder</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    

    </tbody>

 </table>

