@{
    ViewData["Title"] = "ADMIN AREA";
}

<h1 class="toast-header">ADMIN AREA</h1>
<form>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
             <label>Essens Bearbeitung</label>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary" asp-controller="UniEatAdmin" asp-action="CreateEditWeeklyPlan">Wochenplan erstellung</button>
            </div>
            <div class="col">
                <button class="btn btn-primary" asp-controller="UniEatAdmin" asp-action="CreateEditDishes">Create Dishes</button>
            </div>
            <div class="col">
                <button class="btn btn-warning" asp-controller="UniEatAdmin" asp-action="EditDish">Edit Dish</button>
            </div>
            <div class="col">
                    <button class="btn btn-toolbar" asp-controller="UniEatAdmin" asp-action="CreateEditWeeklyPlan">Wöchentlicher Plan</button>
                </div>

        </div>

    </div>
 </div>
 <div class="card">
     <div class="card-header">
         <label> Benutzer Verwaltung</label>
     </div>
     <div class="card-body">


     </div>
 </div>
</form>